{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "worker": true,
    "serviceworker": true
  },
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"]
  },
  "plugins": []
}
