{
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "project": ["./apps/backend-services/tsconfig.eslint.json"],
    "extraFileExtensions": [".json"]
  },
  "rules": {
    "@typescript-eslint/no-empty-interface": "off"
  }
}
